body{
    background-color: rgb(208, 167, 167);
}

p{
    margin: auto;
    width: 50%;
    padding: 2em;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#db922b+0,e8cd99+41,b27213+100 */
}

img{
    margin: auto;
    width: 50%;
    padding: 2em;}

    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
      }